body {
  overflow: hidden;
}

.webext-pref-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  overflow: auto;
  z-index: 999999;
  opacity: 0;
  transition: opacity .2s linear;

  display: flex;
}
.webext-pref-modal-open {
  opacity: 1;
}
.webext-pref-modal::before,
.webext-pref-modal::after {
  content: "";
  display: block;
  height: 30px;
  visibility: hidden;
}

.webext-pref-iframe-wrap {
  margin: auto;
}

.webext-pref-iframe {
  margin: 30px 0;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  background: white;
  border-width: 0;
  box-shadow: 0 0 30px black;
  transform: translateY(-20px);
  transition: transform .2s linear;
}
.webext-pref-modal-open .webext-pref-iframe {
  transform: none;
}
